.example-container {
    width: 800px;
    height: 600px;
    margin: 10px;
    border: 1px solid #555;
  }
  
  .example-radio-group {
    display: flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }